* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

section {
    min-height: 90vh;
    max-width: 100%;
}

.special-bg {
    position: relative;
    isolation: isolate;
}

.special-bg::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url("../imgs/background.jpg");
    background-size: 200vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .15;
}

.h-100 {
    height: 90vh !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.section-title {
    font-size: 2em;
    color: #e880ff;
    font-weight: bolder;
}

.main-btn {
    padding: .5rem 2rem;
    border-radius: 10rem;
    border: none;
    background-color: #FF8080;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.main-btn:hover {
    color: #fff;
    padding: .5rem 3rem;
}

.resorces-btn {
    padding: .3rem .8rem;
    border-radius: 10rem;
    border: none;
    background-color: #ea96fd;
    color: white;
    font-weight: bold;
    transition: .3s;
}

.resorces-btn.active , .resorces-btn:hover {
    background-color: #FF8080;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

/* start navbar */
nav.navbar {
    background-color: #efa8ff;
}
/* end navbar */

/* Start Card style */
.card {
    position: relative;
    max-width: 250px;
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 35px 80px #65037b36;
    transition: 0.5s;
}

.card:hover {
    height: 350px;
}

.imgBx {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 50px #3e044b36;
    overflow: hidden;
    transition: .3s;
}

.card:hover .imgBx {
    width: 150px;
    height: 150px;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.3S;
    transform: translateY(165px);
}

.card:hover .content .details {
    transform: translateY(25px);
}

.card .content .details h2 {
    font-size: 1em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}

.card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3 {
    font-size: .80em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;

    /* set maximum number of lines of text with css */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* end */
}


/* End Card style */
/* start resorces style */
.resorses-content > div {
    animation: transition .5s;
}

.resorses-content > div:not(:first-child) {
    display: none;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: translateY(10em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* end resorces style */
/* start citations style */

.citation-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 15rem;
}

.citation-card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: #FF8080;
    border-radius: 20px;
}

.citation-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
}

.citation-img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 5px;
    background-color: #FF8080;
}

.citation-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

/* end citations style */



/* Start Footer */
.footer-icon {
    background-color: #FF8080;
}

.footer-link {
    text-decoration: none;
    color: black;
}
  /* End Footer */
